body {
  background-color: white;
  margin:0px;
}

a {
  color: white;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

button {
  font-size: 16px;
  padding: 14px;
  align-items: center;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 18px;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(185, 19, 97, 0.15);
  transition: box-shadow 0.15s;
  transition: background-color 1s, color 1s;
}

button:hover {
  background-color: rgb(217, 27, 27);
  opacity: 0.3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15s);

}

.btn-align {
  margin-left: 50%;
}

/* Topbar */
.container {
  background-color: rgb(51, 49, 49);
  display: flex;
  flex-direction: row;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.website {
  flex: 1;
  margin-left: 2%;
  font-size: 3em;
  color: white;text-align: center;
}
.website:hover{
  color: aqua;
}

.Getconnect {
  font-size: 30px;
  margin-block-start: 0.67em;
  margin-right: 2%;
  margin-top: 2%;
}

.stick {
  position: sticky;
  top: 0%;
}

.container2 {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex: 2;
  font-size: 2em;

}

.details {
  flex: 1;
  margin-right: 2em;
  margin-top: 25px;
  margin-left: 2%;
  font-size:25px;
}

.stick-section {
  display: flex;
  float: right;
}

li {
  display: inline-flex;
  margin-right: 40px;
}

/* Home */

.Home{
  height: 50vh;
 
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


}
.boy{
  height: 350px;
  width: 400px;
}




.home {
  text-align: left;
  margin-left: 20%;
  font-size: 20px;
  margin-right: 180px;
}

.border {
  background-color: red;
}

.space {
  padding-top: 1px;
  font-size: 3vh;
  border-style: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(102, 198, 229);
  margin-top: 10px;
}
.tech{
  color: #eb34cc;
}
.a {
  padding: 2%;
  /* font-size: 4vh; */
  border-style: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  /* background-color: rgb(233, 241, 239); */


  .About .h {
    display: flex;
    flex-direction: column;
  }
  
  .home-image {
    font-size: 3vh;
    text-align: center;
  }
  
  .num-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
   
   
    /* background-color: rgb(233, 241, 239); */
  }
  
  .num {
    color: black;
    border-style: solid;
    /* border-color: rgb(53, 188, 156); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: #406896;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* background-color:rgb(195, 249, 236);; */
  }
  
  .num img {
    height: 15vh;
    align-self: center;
    padding: 5%;
  }
  
  .num .t-info {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 50%;
  }
  
  .num-title {
    font-size: 5vh;
    padding: 4%;
    font-weight: 800;
    color: crimson;
  }
   
  .temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 300%;
    font-weight: 600;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -3%;
  }

/* courses */
.co-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  /* background-color: rgb(233, 241, 239); */
}

.co-img {
  color: black;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: rgb(53, 188, 156);
  display: flex;
  flex-direction: column;
  padding: 1%;
 
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /* background-color:rgb(195, 249, 236);; */
}

.co-img img {
  height: 30vh;
  width: 15vw;
}

.co-img img:hover {
  height: 28vh;
  width: 14vw;
}


.co-img .co-info {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;

}

.co-img a {
  color: rgb(51, 129, 193);
}

/* videos */

.video {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  padding: 5%;

}

.video-course {
  border-color: black;
  border-style: solid;
  box-shadow: rgba(72, 167, 94, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: box-shadow 0.15s;
  transition: background-color 1s, color 1s;
}

/*.video-course:hover {
  border-color: black;
  border-style: solid;
  opacity: 0.001%;

}

/* Testimonial */
.test-row {
  padding: 1%;
  /* background-color: rgb(21, 197, 191); */
}

.test-block {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.testimonial {
  margin-left: 1vw;
  margin-right: 1vw;
  margin: 2vh;
  border-style: solid;
  border-radius: 10px;
  color: black;
  border-color: rgb(56, 126, 187);
  display: flex;
  flex-direction: row;

}

.testimonial img {
  height: 20vh;
  align-self: center;
}

.star {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 241, 239);
  height: 30%;
  align-items: center;
}

.star p {
  color: rgb(0, 0, 0);
  font-size: 200%;
}

.t-info {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 130%;
}

.num .star {
  display: flex;
  flex-direction: column;
}

/* faq */

.FAQ {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5%;
  /* background-color: rgb(3, 3, 239); */
}

.faq-row {
  background-color: white;
  flex-direction: column;
  border-style: dotted;
  color: black;
  border-color: rgb(56, 126, 187);
  padding: 2%;
  margin: 2%;
  /* border-radius: 20%; */
}

.faq-row p {
  font-size: 20px;
}

.faq-row1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 241, 239);
}

/* footer */

.row2 {
  background-color: rgb(87, 43, 26);
  text-align: center;
  padding: 1%;
}





/* login */
.sign-in {
  background-color: rgb(183, 238, 236);
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sign-in2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 2%;
  background-color: whitesmoke;
  color: #1c1d1f;
  font-size: 2vh;
  margin-left: 30%;
  width: 30%;
  padding: 50px;
  border-radius: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.block {
  margin-bottom: 2%;
}

.block a {
  font-size: 20px;
  padding: 1%;
  color: rgb(23, 128, 189);
  margin-bottom: 2%;
}

.block input {
  width: 10vh;
  box-shadow: rgba(72, 167, 94, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/*  Register  */
.signup {
  background-color: black;
  color: rgb(15, 24, 2);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 90vh;
  width: 90vw;
  flex: 10;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 4vw;
  padding-right: 4vw;
}


.register {
  background-color: rgb(110, 158, 179);
  display: flex;
  flex: 6;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  display: flex;
  flex: 2;
  padding: 0.5vw;
  border: 0.2vw solid rgb(125, 108, 139);
  margin: 0 0 1vw 0;
  border-radius: 0.5em;

}

input[type=checkbox] {
  height: 3vh;
  width: 3vw;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  width: 80%;
  padding-top: 0;

}

.name {
  display: flex;
  flex-direction: row;
  flex: 10;
  justify-content: baseline;

}

.name input[type=text] {
  width: 100%;

}

/* Get connect */

.column {
  border: 2px solid rgb(4, 4, 4);
  background-color: rgb(77, 80, 95);
  width: 50%;
  margin-left: 20%;
  padding: 20px;
}

.column input[type=text],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.column input[type=email] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}